.loginScreen {
	position: relative;
	height: 100%;
	background: url('https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-202110125-popsignuptwoweeks-perspective_alpha_website_medium.jpg') center no-repeat;
	background-size: cover;
}

.loginScreen__logo {
	position: fixed;
	left: 0;
	width: 150px;
	object-fit: contain;
	padding-left: 20px;
}

.loginScreen__button {
	position: fixed;
	right: 20px;
	top: 20px;
	padding: 10px 20px;
	font-size: 1rem;
	color: #fff;
	background-color: #e50914;
	font-weight: 600;
	border: none;
	cursor: pointer;
}