@use '../util/' as *;
@use '../global/custom.scss' as *;

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: rem(20);
    color: var(--text-color);
    margin-top: rem(30);

    &__content {
        @extend .common-background;
        width: min(rem(600), 100%);
    }

}