@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

@function rem($size) {
 @return calc($size / 16px) * 1rem;
}

:root {
 --Bright_orange: hsl(31, 77%, 52%);
 --Dark_cyan: hsl(184, 100%, 22%);
 --Very_dark_cyan: hsl(179, 100%, 13%);

 --Transparent_white_paragraphs: hsla(0, 0%, 100%, 0.75);
 --neutral: #f2f2f2;
 --Very_light_gray_background_headings_buttons: hsl(0, 0%, 95%);
 --black: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background-color: var(--Very_light_gray_background_headings_buttons);
}

main {
 max-width: rem(840px);
 // can add min-height 
 display: flex;
 overflow: hidden;
 // width: 100%; only nessesary on images
 border-radius: rem(10px);
 min-height: rem(420px);

 .component__card {
  padding: 4% 7% 4% 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--Bright_orange);
  color: var(--Very_light_gray_background_headings_buttons);

  &:nth-child(2) {
   background-color: var(--Dark_cyan);

  }

  &:nth-child(3) {
   background-color: var(--Very_dark_cyan);
  }

  img {
   padding-bottom: rem(40px);
   object-fit: contain;
  }

  h1 {
   padding-bottom: rem(10px);
   font-family: 'Big Shoulders', sans-serif;
   font-size: rem(38px);
  }

  p {
   margin-bottom: auto;
   font-family: 'Lexend Deca', sans-serif;
   opacity: 0.9;
  }

  a {
   list-style: none;
   text-decoration: none;
   position: relative;
   margin-top: rem(32px);
   background-color: var(--Very_light_gray_background_headings_buttons);
   font-family: 'Lexend Deca', sans-serif;
   border: rem(2px) solid transparent;
   padding: rem(15px) rem(20px);
   border-radius: rem(50px);
   color: var(--black);
   font-weight: 700;
   transition: background-color 0.3s ease-out;
   text-transform: capitalize;
   mix-blend-mode: screen;

   &:hover,
   &:focus-visible {
     background-color: transparent;
     color: var(--Very_light_gray_background_headings_buttons);
     border: rem(2px) solid var(--neutral);
   }

   &:focus-visible {
     outline: none;
     text-decoration: underline;
   }
  }
 }

}

@media (max-width:rem(500px)) {
 main {
  flex-direction: column;
  margin: 10%;

  .component__card {
   padding: 13%;
  }
 }
}