@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
    --Light_Cyan: rgb(206, 227, 233);
    --Neon_Green: rgb(82, 255, 168);

    --Grayish_Blue: rgb(78, 93, 115);
    --Dark_Grayish_Blue: rgb(50, 58, 73);
    --Dark_Blue: rgb(31, 38, 50);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Dark_Blue);
}

main {
    max-width: 400px;
    background-color: var(--Dark_Grayish_Blue);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 5px 28px 5px rgba(0, 0, 0, 0.403);
    font-family: 'Manrope';

    span {
        color: var(--Neon_Green);
        text-transform: uppercase;
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 3px;
    }

    blockquote {
        padding-bottom: 20px;
        color: var(--Light_Cyan);
        // border: 1px solid;
        text-align: center;
        font-size: 20px;
    }

    img.divider {
        width: 100%;
    }

    .pattern-divider {
        align-self: center;
        padding-bottom: 10px;
    }

    .dice {
        position: absolute;
        border-radius: 50%;
        background-color: var(--Neon_Green);
        padding: 19px 19px 15px;
        cursor: pointer;
        bottom: -20px;

        &:hover {
            box-shadow: 2px 8px 22px 10px var(--Neon_Green);
        }

        img {
            width: 100%;
        }
    }
}