.nav {
	position: fixed;
	top: 0;
	padding: 20px;
	width: 100%;
	height: 30px;
	z-index: 1;

	transition-timing-function: ease-in;
	transition: all 0.5s;
}

.nav__contents {
	display: flex;
	justify-content: space-between;
}

.nav__logo {
	position: fixed;
	left: 0px;
	top: 25px;
	width: 80px;
	object-fit: contain;
	padding-left: 20px;
	cursor: pointer;
}

.nav__black {
	background-color: #111;
}

.nav__avatar {
	cursor: pointer;
	position: fixed;
	right: 20px;
	width: 20px;
}