@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --font-inter: "Inter", sans-serif;
}

:root {
  /* ---------------------------------------------------------------------- */
  /*                             Primary Colors                             */
  /* ---------------------------------------------------------------------- */
  --Bright_Red: rgb(220, 65, 76);
  --dark-theme_Desaturated_Blue_Card_BG: #252a41;
  --dark-theme_Desaturated_Blue_Text: hsl(228, 34%, 66%);
  --dark-theme_Very_Dark_Blue_BG: hsl(230, 17%, 14%);
  --dark-theme_Very_Dark_Blue_Top_BG_Pattern: #1f212e;
  --dark-theme_WhiteText: hsl(0, 0%, 100%);
  --dark-theme-card-hover: hsla(231, 27%, 33%, 0.68);
  --dark-theme-toggle-background: linear-gradient(225deg, var(--Toggle-end), var(--Toggle-start));
  --dark-theme-toggle-button: rgb(30, 32, 42);
  --Facebook: rgb(25, 143, 245);
  --instagram-end: hsl(329, 70%, 58%);
  --Instagram-start: hsl(37, 97%, 70%);
  --light-theme_BG: rgb(255, 255, 255);
  --light-theme_Dark_Grayish_Blue_Text: rgb(99, 104, 126);
  --light-theme_Grayish_Blue_Card_BG: rgb(240, 242, 250);
  --light-theme_Very_Dark_Blue_Text: rgb(30, 32, 42);
  --light-theme_Very_Pale_Blue_Top_BG_Pattern: rgb(245, 247, 255);
  --light-theme-card-hover: rgba(196, 198, 212, 0.68);
  --light-theme-toggle-background: rgb(174, 179, 203);
  --light-theme-toggle-button: hsl(228, 46%, 96%);
  --Lime_Green: rgb(29, 180, 137);
  --Toggle-end: hsl(146, 68%, 55%);
  --Toggle-start: hsl(210, 78%, 56%);
  --Twitter: rgb(28, 160, 242);
  --YouTube: rgb(196, 3, 42);
  /* -------------------------------------------------------------------------- */
  /*                        System Color Scheme Detector                        */
  /* -------------------------------------------------------------------------- */
}
@media (prefers-color-scheme: light) {
  :root {
    --background: var(--light-theme_BG);
    --card-bg: var(--light-theme_Grayish_Blue_Card_BG);
    --card-hover: var(--light-theme-card-hover);
    --text-color-2: var(--light-theme_Dark_Grayish_Blue_Text);
    --text-color: var(--light-theme_Very_Dark_Blue_Text);
    --toggle-background: var(--light-theme-toggle-background);
    --toggle-button:var(--light-theme-toggle-button);
    --toggle-text: var(--light-theme-toggle-background);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-theme_Very_Dark_Blue_BG);
    --card-bg: var(--dark-theme_Desaturated_Blue_Card_BG);
    --card-hover: var(--dark-theme-card-hover);
    --text-color-2: var(--dark-theme_Desaturated_Blue_Text);
    --text-color: var(--dark-theme_WhiteText);
    --toggle-background: var(--dark-theme-toggle-background);
    --toggle-button: var(--dark-theme-toggle-button);
    --toggle-text: var(--dark-theme_Desaturated_Blue_Text);
  }
}

body.dark {
  --background: var(--dark-theme_Very_Dark_Blue_BG);
  --card-bg: var(--dark-theme_Desaturated_Blue_Card_BG);
  --card-hover: var(--dark-theme-card-hover);
  --text-color-2: var(--dark-theme_Desaturated_Blue_Text);
  --text-color: var(--dark-theme_WhiteText);
  --toggle-background: var(--dark-theme-toggle-background);
  --toggle-button: var(--dark-theme-toggle-button);
  --toggle-text: var(--dark-theme_Desaturated_Blue_Text);
}

body.light {
  --background: var(--light-theme_BG);
  --card-bg: var(--light-theme_Grayish_Blue_Card_BG);
  --card-hover: var(--light-theme-card-hover);
  --text-color-2: var(--light-theme_Dark_Grayish_Blue_Text);
  --text-color: var(--light-theme_Very_Dark_Blue_Text);
  --toggle-background: var(--light-theme-toggle-background);
  --toggle-button:var(--light-theme-toggle-button);
  --toggle-text: var(--light-theme-toggle-background);
}

body {
  font-family: var(--font-inter);
  background: var(--background);
  color: var(--text-color);
  transition: background 500ms ease-in-out, color 200ms ease;
}

footer {
  margin: 1.25rem 0;
}

/*---------------------------
** CSS Reset
-----------------------------*/
/* Box sizing rules */
html,
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
fieldset,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    scroll-behavior: auto !important;
  }
}
a,
a:visited,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
}
@media (min-width: 75em) {
  h1 {
    font-size: 1.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.875rem;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 81.25rem;
  padding: 0 1.5625rem;
  margin: 0 auto;
}
@media (min-width: 87.5em) {
  .container {
    padding: 0;
  }
}

.header {
  margin-top: 2.25rem;
  margin-bottom: 1.875rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 40em) {
  .header {
    justify-content: space-between;
  }
}
.header__title {
  width: 100%;
}
@media (min-width: 40em) {
  .header__title {
    width: auto;
  }
}
.header__subtitle {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text-color-2);
}
.header__toggle {
  margin-left: auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}
@media (min-width: 40em) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 75em) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: var(--card-bg);
  color: var(--text-color-2);
  text-align: center;
  padding: 1.5625rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}
.card:hover {
  background: var(--card-hover);
}
.card--facebook {
  border-top: 0.25rem solid var(--Facebook);
}
.card--twitter {
  border-top: 0.25rem solid var(--Twitter);
}
.card--instagram {
  padding-top: 1.8125rem;
  position: relative;
  overflow: hidden;
}
.card--instagram::before {
  content: "  ";
  background: linear-gradient(225deg, var(--instagram-end), var(--Instagram-start));
  height: 0.25rem;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.card--youtube {
  border-top: 0.25rem solid var(--YouTube);
}
.card__platform {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.75rem;
  height: 1.25rem;
}
.card__icon {
  margin-right: 0.5rem;
}
.card__username {
  font-size: 0.75rem;
  font-weight: 700;
}
.card__followers {
  margin-bottom: 1.5625rem;
}
.card__count {
  color: var(--text-color);
  font-weight: 700;
  letter-spacing: 0.125rem;
  line-height: 1;
  margin-bottom: 0.25rem;
}
.card__count--big {
  font-size: 3.5rem;
}
.card__count--small {
  font-size: 2rem;
}
.card__label {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--dark-theme_Desaturated_Blue_Text);
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
}
.card__change, .card__change--down, .card__change--up {
  font-size: 0.75rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__change--up {
  color: var(--Lime_Green);
}
.card__change--down {
  color: var(--Bright_Red);
}
.card__number {
  margin-left: 0.25rem;
}
.card__subtitle {
  font-size: 0.875rem;
  font-weight: 700;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: start;
  gap: 1.4375rem;
}
.card-grid .card__subtitle,
.card-grid .card__count {
  justify-self: start;
}
.card-grid .card__count,
.card-grid .card__change,
.card-grid .card__change--down,
.card-grid .card__change--up {
  align-self: end;
}
.card-grid img,
.card-grid .card__change,
.card-grid .card__change--down,
.card-grid .card__change--up {
  justify-self: end;
}
.toggle {
  border: none;
  display: grid;
  gap: 0rem 0.75rem;
  grid-template-columns: 1fr 3rem;
}
.toggle label {
  grid-column: 1/2;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--toggle-text);
}
.toggle__wrapper {
  height: 1.5rem;
  position: relative;
  grid-column: 2/3;
}
.toggle input[type=radio] {
  opacity: 0;
  margin: 0 -0.125rem;
  height: 1.5rem;
  width: 1.5rem;
}
.toggle input[type=radio]:focus ~ .toggle__button {
  border: 0.1875rem solid white;
}
.toggle__background {
  background: var(--toggle-background);
  border-radius: 0.75rem;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}
.toggle__button {
  background-color: var(--toggle-button);
  border-radius: 5rem;
  height: 1.125rem;
  width: 1.125rem;
  position: absolute;
  left: 0.1875rem;
  top: 0.1875rem;
  right: 100%;
  display: flex;
  transition: all 250ms ease-in-out;
}
#light:checked ~ .toggle__button {
  right: 0.1875rem;
  left: calc(100% - 1.3125rem);
}
#system:checked ~ .toggle__button {
  right: auto;
  left: 50%;
  transform: translate(-50%);
}
.toggle .visibility-hidden {
  position: absolute;
  left: -625rem;
  top: auto;
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */