@use "sass:math";
@use "sass:math";

// Source: https://css-tricks.com/snippets/sass/px-to-em-functions/
@function rem($pixels, $context: 16px, $rem: 1rem) {
 @if math.is-unitless($pixels) {
  @return (math.div($pixels, $context) * $rem);
 }

 @else {
  @error 'use px units when using the rem() function';
 }
}

@function em($pixels, $context: 16px, $em : 1em) {
 @if math.is-unitless($pixels) {
  @return (math.div($pixels, $context) * $em);
 }

 @else {
  @error 'use px units when using the em() function';
 }
}

:root {
 --accent-1: hsl(31, 77%, 52%);
 --accent-2: hsl(184, 100%, 22%);
 --font-body: 'Lexend Deca', helvetica, sans-serif;
}