@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --Very_Dark_Magenta: rgb(80, 32, 80);
    --Soft_Pink: rgb(238, 104, 164);

    --Dark_Grayish_Magenta: rgb(147, 123, 146);
    --Light_Grayish_Magenta: rgb(247, 242, 247);
    --White: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}