
#intro-header{
	margin-top:0px;
   
	background-image: url('../images/header.jpg');
	background-size: cover;
	min-height: 600px;
}
.intro-message{
	padding-top: 15%;
	text-align: center;
	color: #FFF;
	 background-color:rgba(0,0,0,0.6);
	 min-height: 600px;


}
.intro-message h1{
	font-size:60px;
	font-weight:200%;
	padding-top: 1px;
	 -moz-animation-duration: 1s;
	 -webkit-animation-duration: 1s;
	 -o-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
  /* -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite; */
}

.sky{
	color:#2E368F;
}

.agency{
	background-color: #2CACE2;
	padding-top: 1px;
}

#rent,#sale{
	height:400px;
	color:#FFF;
	text-align: center;
	padding:0px 0px;
	margin: 0px 0px;
}

#rent{
	background-image: url('../images/1.jpg');
	background-size: cover;
}

#sale{
	background-image: url('../images/2.jpg');
	background-size: cover;

}

#rentalbtn ,#salebtn{

	margin-top: 30%;
	padding: 10px 10px 10px 10px;
	border-radius:0px;
	transition:0.3s;
	
	

}

#rentalbtn:hover ,#salebtn:hover{

	transform:scale(1.2);
	

}

#main{
	height:300px;
	width:300px;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	overflow: hidden;

}

#myimage img{

	height:300px;
	width:300px;
	transition:0.5s;


}

.col-md-3{
	margin-top: 10px;
}




#shade{
	height:400px;
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	transition:0.3s;
}

#shade:hover{

	 background-color:rgba(0,0,0,0.6);

}

#mydescription{
	width: 70%;
	background-color:#3498db;
	color:#FFF; 
	transform:translateY(-200px);
}

#mybuttons{
   text-align: center;
	


	transition:0.3s;

}

#main:hover #mybuttons{

	transform:translateY(-200px);

}



#main:hover img{
	transform:scale(1.2);
}

#viewbtn{
	padding: 10px 10px 10px 10px;
	border-radius:0px;
	background-color:rgba(255,255,255.0.8);
	color:#FFF;
}

#latest h1{
	color:#2CACE2;
}
#ribbon{
	height:100px;
	
	background-color:#c0392b;
	color:#FFF; 
	position: relative;
	transform:rotate(45deg);
	transform:translate(200px,-150px);
	
}

/* --------------------------------------
   footer
   -------------------------------------- */

   footer{
   	padding-top: 30px;
   	background-color: #2E2E2E;
   	margin-top: 40px;
   		padding-bottom: 30px;
   }



.footer-below{
	
  padding-top: 20px;
  background-color: #2E2E2E;
  color: #747474;
 
}

.fa{
	color: #747474;
}

/* --------------------------------------
   popular
   -------------------------------------- */





