@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
:root {
    --Dark_Blue_intro_and_email_sign_up_background: hsl(217, 28%, 15%);
    --Dark_Blue_main_background: hsl(218, 28%, 13%);
    --Dark_Blue_footer_background: hsl(216, 53%, 9%);
    --Dark_Blue_testimonials_background: hsl(219, 30%, 18%);

    --Cyan_inside_call_to_action_gradient: rgb(101, 226, 217);
    --Blue_inside_call_to_action_gradient: rgb(51, 158, 204);
    --Light_Red_error: hsl(0, 100%, 63%);
    --White: hsl(0, 0%, 100%);
    --light_gray: rgb(206, 206, 206);
    --font_family_open_sans: "Open Sans";
    --font_family_Raleway: "Raleway";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Dark_Blue_main_background);
}

main {
    max-width: 1440px;
    width: 100%;
    text-transform: capitalize;
    font-family: var(--font_family_open_sans);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
        // z-index: 19;
        background-color: var(--Dark_Blue_intro_and_email_sign_up_background);

        img {
            width: 100%;
            max-width: 150px;
        }

        a {
            text-decoration: none;
            color: var(--light_gray);
            padding: 0 8px;
            // z-index: 98;
            cursor: pointer;


            &:hover {
                color: var(--White);
                text-decoration: underline;

            }

        }
    }

    .container-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .illustration {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 1;
            background-color: var(--Dark_Blue_intro_and_email_sign_up_background);
            width: 100%;

            &::before {
                content: ' ';
                position: absolute;
                left: 0;
                bottom: -1px;
                z-index: -1;
                padding: 0;
                background: url(./images/bg-curvy-desktop.svg) bottom/100% no-repeat;
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
                max-width: 500px;
                padding-bottom: 50px;
                
            }

            h1 {
                color: var(--White);
                max-width: 600px;
                text-align: center;
                padding-bottom: 30px;
                font-family: var(--font_family_Raleway);
            }

            p {
                color: var(--light_gray);
                max-width: 600px;
                padding-bottom: 30px;
                text-align: center;
            }

            .call-to-action {
                padding-bottom: 200px;

                button {
                    padding: 10px 50px;
                    border-radius: 50px;
                    border: none;
                    color: var(--White);
                    font-weight: 700;
                font-family: var(--font_family_Raleway);
                background: linear-gradient(135deg, rgb(51, 158, 204), rgb(111, 226, 230), rgb(51, 158, 204));

                    &:hover {
                        background: linear-gradient(135deg, rgb(101, 226, 217), rgb(212, 254, 255), rgb(101, 226, 217));
                    }
                }
            }
        }

        .credibility {
            padding: 0 15%;
            z-index: 2;

            .credibility_column {
                display: flex;
                justify-content: center;

                .cred_details {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 0 7%;

                    h1 {
                        color: var(--White);
                font-family: var(--font_family_Raleway);
                font-size: 20px;
                        padding-bottom: 15px;
                    }

                    p {
                        color: var(--light_gray);

                    }

                    .image_sizing {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 200px;

                        img {
                            width: 100%;
                            max-width: 80px;
                        }
                    }


                }

            }
        }

        .stay_productive {
            padding: 100px 10%;
            display: flex;
            align-items: center;

            img.stay_productive_image {
                width: 50%;
                padding-bottom: 50px;
            }

            .stay_productive_details {
                width: 50%;
                padding-left: 10%;

                h1 {
                    color: var(--White);
                font-family: var(--font_family_Raleway);
                padding-bottom: 20px;
                }

                p {
                    color: var(--light_gray);
                    padding-bottom: 20px;
                }

                .how_flo_works {
                    display: flex;
                    align-items: center;
                    color: var(--light_gray);
                    // border: 1px solid;
                    cursor: pointer;

                    &:hover {
                        span {
                            text-decoration: underline;
                        }
                    }

                    span {
                        padding-right: 10px;

                    }

                    img {
                        width: 100%;
                        // border: 1px solid;
                        max-width: 30px;
                        // max-height: 60px;
                    }
                }

            }

        }

        .testimonials {
            padding: 100px 10% 300px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            // border: 1px solid;

            img.quotes {
                position: absolute;
                left: 0%;
                border-radius: 0 !important;
                max-width: 100px !important;
                z-index: -1;
                top: -35px;
            }

            .testimonial_component {
                position: relative;
                box-shadow: 1px 1px 22px 2px rgba(0, 0, 0, 0.106);
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                padding: 20px;
                color: var(--light_gray);
                background-color: var(--Dark_Blue_testimonials_background);

                &:nth-child(2) {
                    margin: 0 20px;
                }

                p {
                    padding: 10px 10px 20px;
                }

                img {
                    max-width: 30px;
                    border-radius: 50%;
                    // padding-top: 10px;

                }

                h2 {
                    font-size: 20px;
                }

                h3 {
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .newsletter {
            position: absolute;
            bottom: -4%;
            padding: 30px 44px;
            background-color: var(--Dark_Blue_intro_and_email_sign_up_background);
            width: 90%;
            min-width: 400px;
            max-width: 600px;
            box-shadow: 1px 1px 22px 2px rgba(0, 0, 0, 0.106);
            border-radius: 15px;
            text-align: center;

            h1 {
                font-family: var(--font_family_Raleway);
                color: var(--White);
            }

            p {
                color: var(--light_gray);
                padding: 15px;
            }

            .newsletter_email {
                display: flex;
                padding: 20px 0;
                // align-items: center;
                justify-content: space-between;

                .email_input {
                    display: flex;
                    flex-direction: column;
                    width: 57%;
                    position: relative;

                    input {
                        border-radius: 50px;
                        padding: 13px;
                        outline: rgb(101, 226, 217);
                        border: none;
                        color: rgb(101, 226, 217);
                    }

                    .validity_text {
                        position: absolute;
                        bottom: -25px;
                        color: var(--Light_Red_error);
                        left: 5px;
                        font-size: 14px;
                    }
                }

                button {
                    border-radius: 50px;
                    width: 37%;
                    padding: 8px;
                    border: none;
                    color: var(--White);
                    font-weight: 700;
                font-family: var(--font_family_Raleway);
                background: linear-gradient(135deg, rgb(51, 158, 204), rgb(111, 226, 230), rgb(51, 158, 204));

                    &:hover {
                        background: linear-gradient(135deg, rgb(101, 226, 217), rgb(212, 254, 255), rgb(101, 226, 217));
                    }
                }
            }

        }
    }

    .footer {
        padding: 250px 10% 100px;
        background-color: var(--Dark_Blue_footer_background);
        display: flex;
        justify-content: space-between;
        color: var(--light_gray);
        align-items: flex-start;
        // padding-top: 60px;

        a {
            color: var(--light_gray);
            text-decoration: none;
            font-size: 14px;

            &:hover {
                color: var(--White);
                font-weight: 700;
            }

            h2 {
                padding-bottom: 12px;

            }
        }

        .f-description {
            position: relative;
            width: 30%;

            img.footer_logo {
                position: absolute;
                max-width: 130px;
                top: -80px;
            }

            .description {
                // padding-top: 20px;
                display: flex;
                align-items: flex-start;

                img {
                    padding: 9px;
                }
            }
        }

        .f-contact {
            padding-left: 30px;

            .f-component {
                padding-top: 12px;
            }

            img {
                padding-right: 5px;
            }
        }

        .f-menu,
        .f-more_menu {
            padding-left: 10%;
        }
    }
}

@media (max-width:840px) {
    main {
        .container-content {
            .credibility {
                padding: 0 7%;
            }

            .testimonials {
                // flex-direction: column;
                // border: 1px solid;
                padding: 40px 5% 250px;
                flex-wrap: wrap;
                justify-content: center;

                .testimonial_component {
                    margin: 30px 0 0 20px;
                    max-width: 300px;

                    &:nth-child(2) {
                        margin: 30px 0 0 20px;


                    }
                }
            }
        }

        .footer {
            flex-wrap: wrap;

            // justify-content: space-evenly;
            .f-description {
                width: 50%;

                img.footer_logo {
                    top: -40px;
                }
            }

            .f-description,
            .f-contact,
            .f-menu,
            .f-more_menu {
                padding-top: 50px;
            }
        }
    }
}

@media (max-width:500px) {
    main {

        // padding: 30px;
        .header {
            padding: 40px;
        }

        .container-content {
            .illustration {
                padding: 40px;

                &::before {
                    background: url(./images/bg-curvy-mobile.svg) bottom/100% no-repeat;

                }
            }

            .credibility {
                padding: 0 40px;

                .credibility_column {
                    flex-direction: column;

                    .cred_details {
                        width: 100%;
                    }

                }
            }

            .stay_productive {
                flex-direction: column;

                img.stay_productive_image {
                    width: 100%;

                }

                .stay_productive_details {
                    width: 100%;

                }
            }

            .newsletter {
                .newsletter_email {
                    flex-direction: column;

                    .email_input {
                        width: 100%;
                        margin: 0 0 40px 0;
                    }

                    button {
                        width: 100%;
                        padding: 15px;
                    }
                }
            }
        }

        .footer {
            flex-direction: column;

            .f-description {
                width: 100%;
            }
        }
    }
}