@use '../util/'as *;

.card-grid {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, auto);
 justify-content: start;
 gap: rem(23);

 .card__subtitle,
 .card__count {
  justify-self: start;
 }

 .card__count,
 .card__change {
  align-self: end;
 }

 img,
 .card__change {
  justify-self: end;
 }

 .card__change--up {
  @extend .card__change;
 }

 .card__change--down {
  @extend .card__change;
 }
}