#housecarousel,#houseslider{
	height: 600px;
}

#housecarousel .item{
	height: 600px;
}

#details{
	margin-top: 15px;
}

#details h2{



font-family: 'Pacifico', cursive;
color:#2CACE2;


}

#number{
	font-size: 32px;
}

.qualitybadge{
	transform:translateY(-580px);
	-webkit-transform:translateY(-580px);
	-moz-transform:translateY(-580px);
	-o-transform:translateY(-580px);
}

.fa{

color:#2D368F;

}
