@use '../util/'as *;

a,
a:visited,
a:active {
    text-decoration: none;
}

h1{
    font-size: rem(24);

    @include breakpoint(large){
        font-size: rem(20);
    }
}
h2{
    font-size: rem(24);
    margin-top: rem(30);
    margin-bottom: rem(24);
}